
<div
  class="d-flex align-items-center justify-content-center"
  style="height: 350px;"
>
  <a href="/admin/all-books" type="button" class="btn btn-primary">Books</a>
  <a href="/admin/all-comments" type="button" class="btn btn-light">Comments</a>
</div>