<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        {{#if user}}
          {{user.Name}}
        {{else}}
          Asmodeuz
        {{/if}}
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">

            {{#if home}}
                <a href="/" type="button" class="btn btn-info btn-sm mr-1 mb-2">Home</a>
            {{/if}}
            
            {{#if user}}
                <a href="/add-book" type="button" class="btn btn-primary btn-sm mr-1 mb-2">Add</a>
                <a href="/myBooks" type="button" class="btn btn-warning btn-sm mr-1 mb-2">MyBooks</a>
                <a href="/myComments" type="button" class="btn btn-light btn-sm mr-1 mb-2">MyComments</a>
                <a href="/logout" type="button" class="btn btn-danger btn-sm mr-1 mb-2">Logout</a>
            {{else}}
                {{#if signin}}
                    <a href="/login" type="button" class="btn btn-link px-3 me-2">Signin</a>
                {{else}}
                    <a href="/signup" type="button" class="btn btn-primary me-3">
                        Sign up
                    </a>
                {{/if}}
            {{/if}}


          <a
            class="btn btn-dark px-3"
            href="https://github.com/mdbootstrap/mdb-ui-kit"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->