<section class="container">
    <div class="row">
        {{#each books}}
            <div class="col-md-3">
                <div class="card">
                    <img style="height: 27vh; width: 100%; border-radius: 30px;" src="/book-images/{{this._id}}.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">
                        {{this.Description}}
                        </p>
                        <a href="/review" class="btn btn-primary">Review</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    
</section>